<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='insert.css') }}">
    <title>NUS - Insert</title>
</head>
<body>
    <div class="topnav">
		<a class="active" href="/">Home</a>
        <a class="active" href="/admin">Web Admin</a>
        <a class="active" href="/admin/nus_delete">Delete</a>
        <a class="active" href="/admin/nus_update">Update</a>
        <a class="active" href="/admin/nus_insert">Insert</a>
        <a class="active" href="/admin/nus_retrieve">Retrieve</a>
	</div>
    <br><br><center><p style="color:white; font-size: 40px;">CREATE NEW RECORD</p></center>
    <form action="/admin/nus_insert" method="POST">
        <div class="container">
            <label for="course">Course:</label><br><br>
            <input type="text" name="course" class="text"><br><br><br>

            <label for="rp">Rank Points:</label><br><br>
            <input type="number" min="0" max="90" step="0.25" name="rp" class="rp"><br><br><br>
            <center><button type="submit" name = "submit" class = "btn2">Create</button></center>
        </div>
    </form>

    
</body>
</html>