<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='delete.css') }}">
    <title>NUS - Delete</title>
</head>
<body>
    <div class="topnav">
		<a class="active" href="/">Home</a>
        <a class="active" href="/admin">Web Admin</a>
        <a class="active" href="/admin/nus_delete">Delete</a>
        <a class="active" href="/admin/nus_update">Update</a>
        <a class="active" href="/admin/nus_insert">Insert</a>
        <a class="active" href="/admin/nus_retrieve">Retrieve</a>
	</div><br><br><br><br><br>

    <center><div id = "instr_box"><p class = "instr">Instructions: Key in the ID of the record you want to delete (which can be found through retrieval).</p></div></center><br><br><br>

    <form action="/admin/nus_delete" method="POST">
    <div class="container">
        <center><p style="color:white; font-size: 25px; margin:0;">DELETE RECORD</p></center><br>
        <label for="id-update">ID:</label><br><br>
        <input type="number" name="id-update" min=1 class="number"><br><br><br>

        <center><button type="submit" name = "submit" class = "btn2">Delete</button></center>
    </div>
    </form>
</body>
</html>